extends ../templates/default


block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["eight", "wide", "column"])
      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Nueva Produccion"
      div(class=['ui','field'])
        a(class="btn btn-primary", href="http://localhost:3000/users/produccion" role="button")='Regresar'
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Menu Principal'
      br
      div(class='form-nuevaproduccion')
        form(class=['ui','form'] action='http://localhost:3000/users/produccion/crearproduccion' method='post')
          div(class=['ui','four','fields'])
                div(class=['ui',"hidden",'field'])
                  label(for='ticketpro')='Ticket'
                  input(type='text' name='ticketpro' readonly="readonly" placeholder='Ticket' maxlength='4')
                div(class=['ui','field'])
                  label(for='modelo')='Modelo'
                  select(name="modelo" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="" )=''
                    option(value="905P")='905P'
                    option(value="906P")='906P'
                    option(value="908P")='908P'
                div(class=['ui','field'])
                  label(for='tcalzado')='Tipo de Calzado'
                  select(name="tcalzado" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="" )=''
                    option(value="DAMA" )='Dama'
                    option(value="NIÑO")='Niño'
                    option(value="CABALLERO")='Caballero'
                div(class=['ui','field'])
                  label(for='fechacrea')='Fecha de Creacion'
                  input(type='text' readonly="readonly" name='fechacrea' placeholder='Fecha de Creacion' maxlength='30')
          div(class=['ui','three','fields'])
                div(class=['ui','field'])
                  label(for='color1' data-inverted='' data-tooltip='Color Principal' data-position='top center')='Color 1'
                  select(name="color1" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="" )=''
                    each colores in color
                      option(value=colores.color)=colores.color
                div(class=['ui','field'])
                  label(for='color2' data-inverted='' data-tooltip='Adornos' data-position='top center')='Color 2'
                  select(name="color2" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="" )=''
                    each colores in color
                      option(value=colores.color)=colores.color

          div(class=['ui','three','fields'])
                div(class=['ui','field'])
                  label(for='pares')='Pares'
                  select(name="pares" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="")=''
                    option(value="15",par1)='15 Pares'
                    option(value="30")='30 Pares'
                    option(value="45")='45 Pares'

                div(class=['ui','field'])
                  label(for='notas' data-inverted='' data-tooltip='Grupo de Zapatos con Numeracion Estandar' data-position='top center')='Notas'
                  select(name="notas" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="" )=''
                    option(value="1")='1 Nota'
                    option(value="2")='2 Notas'
                    option(value="3")='3 Notas'


                div(class=['ui','field'])
                  label(for='cliente')='Cliente'
                  select(name="cliente" onChange="MM_jumpMenu('parent',this,0)")
                    option(value="")=''
                    //each clientes in cliente
                      option(value=clientes.cliente)=clientes.cliente


          h3(class=['ui', 'header', 'blue', "dividing"])= "Status Produccion"
          div(class=['ui','four','fields'])
            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='cortada')='Cortada'
                    select(name="cortada" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'

             
            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='marcada')='Marcada'
                    select(name="marcada" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'

            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='costura')='Costura'
                    select(name="costura" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'


            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='montura')='Montura'
                    select(name="montura" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'


          div(class=['ui','four','fields'])
            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='soleteada')='Soleteada'
                    select(name="soleteada" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'
            
            div(class=['ui','field'])
                div(class=["ui", "left", "floated", "compact", "segment"])
                  div(class=["ui", "fitted", "toggle"])
                    label(for='encajada')='Encajada'
                    select(name="encajada" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'

            div(class=['ui','field'])
              div(class=["ui", "left", "floated", "compact", "segment"])
                div(class=["ui", "fitted", "toggle"])
                    label(for='completado')='Completado'
                    select(name="completado" onChange="MM_jumpMenu('parent',this,0)")
                      option(value="")=''
                      option(value=1)='Si'
          
          br
          br
          button(class=['ui','button','submit','blue'])= 'Crear Produccion' 
          div(class=['ui','message','error'])

        br
        br
      if info != undefined
        div(class=['ui','message','success'])
          i(class=['close','icon'])
          div(class=['header'])= 'Produccion Creada Correctamente'
          p= info

    script(src='/javascripts/validacionProduccion.js')