extends ../templates/default


block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["sixteen", "wide", "column"])
      h2(class=['ui', 'header', 'blue', "dividing"])= "Lista de Materia Prima"
      div(class=['ui','field'])
        a(class="btn btn-primary" href="http://localhost:3000/users/prima/nuevo" role="button")='Crear Materia Prima'
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Regresar'

      
      table(class=['ui','table', 'celled'] id='tbl-prima')
        thead
          tr
            th= 'Codigo'
            th= 'Nombre'
            th= 'Color'
            th= 'Disponible'
            th= 'Descripcion'
            th= 'Acciones'
        tbody
          each producto in prima
            tr
              td(id='codmaterial')= producto.codmaterial
              td= producto.nommaterial
              td= producto.color
              td= producto.existencia
              td= producto.descripcion
              td
                a(class=['ui button basic icon'] href='#' data-inverted=''
                data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui button basic icon'] href='http://localhost:3000/users/prima/modificarprima/'+producto.codmaterial data-inverted=''
                data-tooltip='modificar' data-position='top center')
                  i(class=['edit icon'])

    script(src='/javascripts/prima.js')