extends templates/default

block content
  h1='pagina de inicio'
  if isAuthenticated
    p= ('bienvenido ' + user.nombre) + (' ' + user.apellido)
    
    section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="col-md-3 center-block no-float top-space")
          img(src="images/icecream.png" class="animated fadeIn")
          h1(class="pacifico big green animated fadeIn delay-1")="Food Facilito"
          div(class="animated fadeInDown delay-2")
            h2="Ven, convive, diviértete"
            nav
              a(href="menu.html" class="right-space")="Menú"
              a(href="contacto.html" class="right-space")="Contacto"
              a(href="" class="right-space")="Acerca de"
