extends ../templates/default

block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["five", "wide", "column"])      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Iniciar Sesion"

      div(class='form-login')
        form(class=['ui','form'] action='http://localhost:3000/auth/signin' method='post' autocomplete='off')
          div(class=['ui','field'])
            label(for='usuario')='Usuario'
            input(type="tex" name='username' id='usuario' placeholder='Usuario' class='form-control' maxlength='10')
          div(class=['ui','field'])
              label(for='password')='Password'
              input(type="password" name='password' id='password' placeholder='Password' class='form-control' maxlength='10')
          button(class=['ui','button','submit','primary'])= 'Iniciar Sesion'
        br
        if authmessage.length > 0
          div(class='alert alert-danger' role='alert')= authmessage
    script(src='/javascripts/validacionLogin.js') 
