extends ../../templates/default


block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["ten", "wide", "column"])
      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Buscar Planta"
      div(class=['ui','field'])
        a(class="btn btn-primary", href="http://localhost:3000/users/prima/planta" role="button")='Regresar'
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Menu Principal'
      br
      br
      div(class='form-modificaplanta')
        form(class=['ui','form'] action='#' method='post')
          div(class=['ui','two','fields'] )
                div(class=['ui','field'])
                  label(for='codplanta')='Codigo'
                  input(type='text' readonly="readonly" value=planta[0].codplanta name='codplanta' placeholder='Codigo' maxlength='20')
                div(class=['ui','field'])
                  a(class=['ui button basic icon'] href='http://localhost:3000/users/prima/planta/modificarplanta/'+planta[0].codplanta data-inverted=''
                    data-tooltip='modificar' data-position='top center')
                    i(class=['edit icon'])
          div(class=['ui','two','fields'] )
                div(class=['ui','field'])
                  label(for='nomplanta')='Nombre'
                  input(type='text' name='nomplanta' readonly="readonly" value=planta[0].nomplanta placeholder='Nombre' maxlength='30')
          div(class=['ui','for','fields'] )
                div(class=['ui','field'])
                  label(for='existencia')='Existencia'
                  input(type='text' name='existencia' readonly="readonly" value=planta[0].existencia placeholder='Existencia' maxlength='5') 
          div(class=['ui','field'])
            label(for='descripcion')='Descripcion'
            input(type='text' name='descripcion' readonly="readonly" value=planta[0].descripcion placeholder='Descripcion' maxlength='100')


