extends ../../templates/default


block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["ten", "wide", "column"])
      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Modificar Planta"
      div(class=['ui','field'])
        a(class="btn btn-primary", href="http://localhost:3000/users/prima/planta" role="button")='Regresar'
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Menu Principal'
      br
      br
      div(class='form-modificaplanta')
        form(class=['ui','form'] action='http://localhost:3000/users/prima/planta/editarplanta' method='post')
          div(class=['ui','two','fields'] )
                div(class=['ui','field'])
                  label(for='codplanta')='Codigo'
                  input(type='text' readonly="readonly" value=planta[0].codplanta name='codplanta' placeholder='Codigo' maxlength='20')
                div(class=['ui','field'])
                  label(for='nomplanta')='Nombre'
                  input(type='text' name='nomplanta' value=planta[0].nomplanta placeholder='Nombre' maxlength='30')
          div(class=['ui','for','fields'] )
                div(class=['ui','field'])
                  label(for='existencia')='Existencia'
                  input(type='text' name='existencia' value=planta[0].existencia placeholder='Existencia' maxlength='5') 
          div(class=['ui','field'])
            label(for='descripcion')='Descripcion'
            input(type='text' name='descripcion' value=planta[0].descripcion placeholder='Descripcion' maxlength='100')
          button(class=['ui','button','submit','blue'])= 'Modificar' 
          div(class=['ui','message','error'])

    script(src='/javascripts/validacionPlanta.js')