extends ../../templates/default


block content
  br
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["six", "wide", "column"])
      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Nueva Planta"
      div(class=['ui','field'])
        a(class="btn btn-primary", href="http://localhost:3000/users/prima/planta" role="button")='Regresar'
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Menu Principal'
      br
      br
      div(class='form-nuevaplanta')
        form(class=['ui','form'] action='http://localhost:3000/users/prima/planta/crearplanta' method='post')
          div(class=['ui','two','fields'] )
                div(class=['ui','field'])
                  label(for='codplanta')='Codigo'
                  input(type='text' name='codplanta' placeholder='Codigo' maxlength='20')
                div(class=['ui','field'])
                  label(for='nomplanta')='Nombre'
                  input(type='text' name='nomplanta' placeholder='Nombre' maxlength='30')
          div(class=['ui','for','fields'] )
                div(class=['ui','field'])
                  label(for='existencia')='Existencia'
                  input(type='text' name='existencia' placeholder='Existencia' maxlength='5') 
          div(class=['ui','field'])
            label(for='descripcion')='Descripcion'
            input(type='text' name='descripcion' placeholder='Descripcion' maxlength='100')
          button(class=['ui','button','submit','blue'])= 'Crear' 
          div(class=['ui','message','error'])
      if info != undefined
        div(class=['ui','message','success'])
          i(class=['close','icon'])
          div(class=['header'])= 'Planta Creada Correctamente'
          p= info

    script(src='/javascripts/validacionPlanta.js')