extends ../../templates/default


block content
  br
  div(class=["ui", "container", "grid", "stackable", "animated fadeIn"])
    div(class=["fifteen", "wide", "column"])
      
      h2(class=['ui', 'header', 'blue', "dividing"])= "Materias Primas"
      div(class=['ui','field'])
        a(class="btn btn-primary" href="http://localhost:3000/users/panel" role="button")='Regresar'
      br
      div(class='form-prima')
        form(class=['ui','form'])
          div(class=['ui','for','fields'] )
            div(class=['ui','field'])
              a(class="btn btn-primary btn-lg" href="http://localhost:3000/users/prima/material" role="button")='Materiales'
            div(class=['ui','field'])
              a(class="btn btn-primary btn-lg" href="http://localhost:3000/users/prima/planta" role="button")='Planta'
            div(class=['ui','field'])
              a(class="btn btn-primary btn-lg" href="http://localhost:3000/users/prima/pega" role="button")='Pega'

        h3(class=['ui', 'header', 'blue'])= "Materias Primas"
        div(class="twelve wide stretched column")
          div(class=["ui", 'blue', "segment"] font face="Comic Sans MS,arial,verdana")
            p= "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis" 
            p="ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum."
        br
        h3(class=['ui', 'header', 'blue'])= "Materiales"
        div(class="twelve wide stretched column")
          div(class=["ui", "segment", "blue"])
            p= "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum."
        h3(class=['ui', 'header', 'blue'])= "Planta"
        div(class="twelve wide stretched column")
          div(class=["ui", "segment", 'blue'])
            p= "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum."
        br
        h3(class=['ui', 'header', 'blue'])= "Pega"
        div(class="twelve wide stretched column")
          div(class=["ui", "segment", 'blue'])
            p= "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis" 
            p="ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam officiis veritatis, ipsum consectetur, omnis, vero vel natus similique nemo ullam quia aperiam! Alias itaque illo enim blanditiis voluptas dolorum."



